@model UserViewModel

@{
    var actionName = Model == null ? "Login" : "Logout";
    var httpMethod = Model == null ? "POST" : "GET";
    var ajaxOptions = new AjaxOptions()
    {
        HttpMethod = httpMethod,

        UpdateTargetId = "login-form"
    };
    Layout = null;
}
@using (Ajax.BeginForm("Login", null, ajaxOptions, new { @class = "navbar-form navbar-right" }))
{

    
    @*<div id="login-form">*@
    <div class="form-group" id="login-form">
        @Html.AntiForgeryToken()
        @if (Model == null)
        {
            <div class="col-md-6">
                @Html.EditorFor(m => m.Login, new {htmlAttributes = new {@class = "form-control input-sm", placeholder = "Login"}})
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.Password, new {htmlAttributes = new {@class = "form-control input-sm", placeholder = "Password"}})
            </div>
        }
        else
        {
            <a>@Model.Login</a>
            @Ajax.ActionLink("Logout", "Logout", ajaxOptions)
        }

        <button type="submit" formaction="@actionName" formmethod="@httpMethod" style="display: none" class="btn btn-default">Submit</button>

    </div>
            @*</div>*@
}
