@model CharacterListViewModel

@{
    ViewBag.Title = "Character list";
}

<h3>You have @Model.Cart.PointsRemaining points remaining to vote for characters.</h3>

<h1>@ViewBag.ListTitle</h1>

@foreach (var character in Model.Characters)
{
    @Html.Partial("_CharacterCard", new CharacterCardViewModel { CharacterViewModel = character, UserHasSavedVotes = Model.UserHasSavedVotes });
}

@Html.Partial("_SearchForm")

@section scripts{
    <script>
        function addComment(characterId) {
            var comment = $('#comment' + characterId).val();
            $.ajax({
                url: '@Url.Action("AddComment","Characters")/',
                data: { characterId, comment },
                method:"POST",
                success: function (data,textStatus) {
                    if (data.characterId && data.comments) {
                        var comments = $('#comments' + data.characterId);
                        comments.empty();
                        for (var i = 0 ; i < data.comments.length; i++) {
                            var val = data.comments[i];
                            comments.append("<p>[" + val.DateTime + "] <b>" + val.UserName+ "</b> says: " + val.Text + "</p>");
                        }
                    }
                }
            });
            $('#comment' + characterId).val("");
        }
    </script>
}